{% extends 'base.html' %}

{% block content %}
<div>
    <a href="{% url 'meal_plans_delete' mealplans.id %}">Delete</a>
    <a href="{% url 'meal_plans_edit' mealplans.id %}">Edit</a>
</div>
<h1>{{ object.name }}</h1>
<h3>{{ object.date }}</h3>
<h3> by: {{ object.owner }}</h3>
{% for recipe in object.recipes.all %}
<div class="recipe-card">
    <h3>{{ recipe.name }}</h3>
    <img src="{{ recipe.image }}" alt="">
</div>

{% endfor %}
{% endblock content %}