{% extends 'base.html' %}

{% block pagination %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock pagination %}

{% block create %}
<main class="meal_plan-form">
    <div class="control">
        <a href="/meal_plans/create"><button class="button">Create</button></a>
    </div>
</main>
{% endblock create %}

{% block content %}
<main class="meal_plan-grid">
    {% for meal_plan in object_list %}
    <div class="meal_plans-card">
        <h2 class="meal_plans-title">
            <a href="{% url 'meal_plans_detail' meal_plan.pk %}">{{ meal_plan.name }}</a>
        </h2>
        <p class="meal_plans_card-date">{{ meal_plan.updated }}</p>
    </div>
    {% endfor %}
</main>
{% endblock content %}